body{
    background: linear-gradient(0deg, rgba(224,73,31,1) 0%, rgba(0,0,0,1) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

header{
    width: 100%;
    height: 450px;
    background: radial-gradient(circle, rgba(224,73,31,1) -10%, rgba(0,0,0,1) 90%);
    margin: auto;
    margin-bottom: 50px;
}

menu{
    display: flex;
    justify-content: space-evenly;
    
    font-weight: bolder;
    font-size: 40px;
    
}
menu a{
    text-decoration: none;
    color: #722510;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.infos{
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 8%;
    padding-right: 8%;
}

.img_infos{
    padding: 35px;
    border-radius: 50px;
    height: 300px;
    width: auto;
}
.infos_text{
    margin-top: 40px;
    text-align: left;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #B83C19;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.boutique_item{
    width:200px ;
    color: white;
    font-weight: 500;
}

.boutique_item img{
    width: 100%;
    max-height: 270px;
}

.barre_menu{
    display: flex;
    align-items: center;
    color: #722510;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    justify-content: space-around;
}

.position {
    display: flex;
    align-content: center;
}
.position a {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 10%;
}

footer p{
    text-align: right;
}

iframe{
    margin-left: 35px;
    border: 0cm;
}
#concert{
    width: 60%;
}
.timeline__content{
    
    display: block;
    flex-direction: column;
    margin-bottom: 50px;
    width: 400px;
    height: 120PX;
    background: linear-gradient(0deg, rgba(224,73,31,1) 0%, rgba(0,0,0,1) 100%);
}
.timeline__content p{
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}

.content_date{
    padding-top: 10px;
    color: rgba(224,73,31,1);
    font-weight: bolder;
    font-style: italic;
}

.timeline{
    display: inline-block;
    width: 100%;
}

.right{
    float: right;
    width: 50%;
}
.left{
    float: left;
    width: 50%;
}
.vide{
    opacity: 0;
}
.shop{
    color: #FFE297;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}
