body{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    width: 1000px ;
    height: max-content;
    background: radial-gradient(circle, rgba(224,73,31,1) 0%, rgba(0,0,0,1) 100%);
    margin: auto;
    margin-bottom: 50px;
}

menu{
    display: flex;
    justify-content: space-evenly;
}

menuitem{
    text-decoration: none;
}